.buying-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .db{
    display: flex;
    flex-direction: row;
    color: white;
  }

  .db span {
  padding: 3px;
  }

  .db p{
    margin-right: 10px;
  }

  .db button{
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .db button:hover{
    background-color: #ececec;
  }
