
.valami {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 600px;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
}

.asd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 600px;
  height: 150px;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  border-radius: 10px;
  margin-top: 30px;
}

.image {
  margin-right: 185px;
  margin-left: 10px;
}

.kinfo {
  text-align: center;
}

.qrkod {
  margin-left: auto;
  margin-right: 10px;
}

.successful {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #6ac054;
  color: white;
}

.buy-button{
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    width: 100px;
    background-color: #79D74D;
  }
  
  .buy-button:hover {
    background-color: #5aa941;
  }
