
.events-container {
  display: flex;
  flex-direction: row;
  margin-left: 450px;
  margin-right: 450px;
  padding: 5px;
  border-radius: 8px;
  margin-top: 30px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  text-decoration: none;
  margin: 10px;
  width: 30%;
}

.event-item {
  background: rgba(0, 0, 0, 0.6);
  margin-left: 30px;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
}

.event-item p {
  color: white;
}
