
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
  }
  
  .logout-button {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.85);
    color: red;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 11px;
  }
  
  .menuc {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
