.info {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 350px;
    margin-right: 350px;
    padding: 10px;
    border-radius: 8px;
  }

  .info-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  
  .info p {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
  }
  
  .info ul {
    list-style-type: none;
  }
  
  .info li {
    margin-top: 10px;
  }
  
  .info h3{
    width: 850px;
  }