
.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.menu-item {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;

}


  .menu-item.selected {
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
  }

