
.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.menu-item {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}


  .menu-item.selected {
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
  }

