.ticket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.ticket-rectangle {
  width: 820px;
  height: 180px;
  background: rgb(20, 41, 54);
  color: white;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  position: relative;
  margin-bottom: 30px;
}

.ticket-text {
  flex: 1;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.ticket-text p{
  padding: 5px;
  margin-left: 80px;
}

.qr-code {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.ticket-image {
  width: 300px;
  margin-left: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  overflow: hidden;
}
