@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFEFF;
}

.title {
    color: #6b6b6b;
    margin-left: 360px;
    margin-top: 35px;
  }

.line {
    border-bottom: 1px solid #6b6b6b;
    margin-bottom: 12px;
    margin-left: 18%;
    margin-right: 18%;
  }