@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFEFF;
}

.title {
    color: #fff;
    margin-left: 360px;
    margin-top: 35px;
  }

.line {
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
    margin-left: 18%;
    margin-right: 18%;
  }

  .background-container {
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: '100%';
  }